{% extends "base.html" %}


{% block main %}

<p>Welcome to the Home page, {{ user }}!</p>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/beer.jpg') }}" alt="Beer Image" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/beer2.jpg') }}" alt="Second Image" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/beer3.jpg') }}" alt="Third Image" class="img-fluid">
    </div>
  </div>
</div>
{% endblock main %}
